.user-card {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    height: 350px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
}

.user-card h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    color: #000;
}

.user-card:hover {
    background-color: #f5f5f5;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}