.header-menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
  background: transparent;
  width: 100%;
}

.header-menu button {
  padding: 10px 5px;
  border: none;
  background: #e97f0d;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 12px;
}


.header-menu button:hover {
  background: #3e53d8;
}