.tech-wrapper {
    width: 100%;
    overflow: hidden;
    padding-top: 30px;
}

.scroll-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.scroll-content {
    display: flex;
    gap: 30px;
    width: max-content;
    animation: slide 12s linear infinite;
}

.tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tech-item img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    transition: transform 0.3s;
}

.tech-item:hover img {
    transform: scale(1.2);
}

.tech-wrapper h2 {
    text-align: justify;
    padding-left: 200px;
}

/* Infinite scroll animation */
@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}