.marketplace-container {
    min-height: 100vh;
    background-color: #ffffff;
    position: relative;
}

.marketplace-content {
    min-height: calc(100vh - 64px);
    padding-top: 64px;
    /* Space for fixed header */
}